<div class="form-container d-flex justify-content-center align-items-center">
    <div class="form-container-center shadow">
        <div class="title">
            CREATE AN ACCOUNT
        </div>
        <div class="form-group my-2">
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="John Mayor"
                    [(ngModel)]="signupForm.name" required #name="ngModel"
                    [ngClass]="{ 'is-invalid': signupFormSubmitted && name.invalid }" (keyup.enter)="signUp()">

                <div class="invalid-feedback"
                    *ngIf="name.invalid || (name.dirty || name.touched) && signupFormSubmitted">
                    <div *ngIf="name.errors?.required">
                        {{allinoneService.input_err_msg}}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="john@example.com"
                    [(ngModel)]="signupForm.email" required #email="ngModel"
                    [ngClass]="{ 'is-invalid': signupFormSubmitted && email.invalid }" (keyup.enter)="signUp()">

                <div class="invalid-feedback"
                    *ngIf="email.invalid || (email.dirty || email.touched) && signupFormSubmitted">
                    <div *ngIf="email.errors?.required">
                        {{allinoneService.input_err_msg}}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="*********"
                    [(ngModel)]="signupForm.password" required #password="ngModel"
                    [ngClass]="{ 'is-invalid': signupFormSubmitted && password.invalid }" (keyup.enter)="signUp()">

                <div class="invalid-feedback"
                    *ngIf="password.invalid || (password.dirty || password.touched) && signupFormSubmitted">
                    <div *ngIf="password.errors?.required">
                        {{allinoneService.input_err_msg}}
                    </div>
                </div>
            </div>
        </div>
        <div class = "mb-3">
            <app-loading-button [isLoading]="isStillSigningUp" [button_text]="'Sign Up'" (click)="signUp()"
                [load_button_text]="'Signing Up'" [width]="'100'">
            </app-loading-button>
        </div>
        <div>
            Already have an account? <span class = "text-btn" (click) = "signin()">Sign in</span>
        </div>
    </div>
</div>